@import url('https://fonts.googleapis.com/css?family=Cookie');
#logo_img{
    width: 138px;
}

#top_header {
    background-color: #ffed00;
}

.submenu a {
    font-weight: bolder;
}

.show-submenu {
    font-weight: bold;
}

.main-menu a:hover {
    color: white;
    transition: 0.2s ease;
}

#social_footer ul li a:hover {
    background-color: #ffed00;
}

#check_box {
    border: 1px solid green;
}

a.btn_1 {
    background-color: #22221e;
}

a.btn_1:hover {
    background-color: #ffed00;
    color: #22221e;
}

div.about {
    padding-left: 13%;
}

.fa-circle-o {
    color: #6C3;
}

.fa-times-circle-o {
    color: #CC3B3A;
}

.not-active {
    overflow: hidden;
}

h3#mail_message {
    text-align: center;
    padding-bottom: 50%;
    padding-top: 30%;
}

img#app_store_img,img#gp_img {
    border-radius: 6px;
    /**/
    margin-left: auto;margin-right: auto;
    display: block;
}
img#app_store_img{margin-top: 50px;}
img#gp_img{margin-top: 15px;}


img#discount_img {
    border-radius: 0;
}

#discount {
    margin-bottom: 5%;
}

.discount_1, .discount_2, .discount_3, .discount_4{
    position: absolute;
    top: 3px;
    right: 17px;
    width: 40%;
    height: 98%;
    background-color: rgba(255, 255, 255, 0.75);
}

.discount_1 h3, .discount_2 h3, .discount_3 h3, .discount_4 h3{
    width: 82%;
    font-size: 24px;
    text-align: center;
    margin: 30px auto 0;
}

.discount_1 #restaurant, .discount_2 #restaurant,.discount_3 #restaurant,.discount_4 #restaurant{text-decoration: underline;width: auto;font-size: 18px;font-weight: 600;color: #26232d;text-align: center;margin-top: 45px;display: block;}
.discount_1 #more_button, .discount_2 #more_button, .discount_3 #more_button, .discount_4 #more_button{position: absolute;bottom: 6%;right: 5%;background-color: transparent;color: #26232d;border-radius: 6px;width: 90%;height: 40px;border-color: #26232d;font-size: 18px;font-weight: 600;}
.discount_1 #more_button:hover, .discount_2 #more_button:hover, .discount_3 #more_button:hover, .discount_4 #more_button:hover{background-color: #00b100;color: #fff;border-color: #00b100;border-style: none;}
.grBtn{padding: 9px 10px;color: #26232d;border-radius: 6px;border: 2px solid #26232d;font-size: 18px;float: right;font-weight: 600;margin-right: 15px;}
.grBtn:hover{border-color:#00b100; background-color: #00b100; color: #fff;}

#center_message {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.recover {
    margin-top: 20%;
    margin-left: 60%;
    margin-bottom: 23%;
    width: 100%;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slider .slider-control {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 1;
    border-radius: 50%;
    /*background: transparent;*/
    /*border: 1px solid #ffed00;*/
    opacity: .8;
    cursor: pointer;
    line-height: 48px;
    text-align: center;
}

.slider .slider-control:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

}

.slider .slider-control.slide-left {
    left: 24px;
}

.slider .slider-control.slide-right {
    right: 24px;
}

.slider .slider-control i {
    color: #ccc;
    line-height: 48px;
}

.slider .slide-box {
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    height: 100%;
    width: 999999px;
}

.slider .slide-box img {
    width: 100%;
}

.slider .slide-box .slide {
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    background-size: cover;
    background-position: center center;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20000px #000;
    z-index: 10;
}

.slider .slide-box .slide .slide-content {
    height: 40%;
    font-size: 22px;
    min-height: 200px;
    width: 40%;
    min-width: 300px;
    color: #FFF;
    background: rgba(51, 76, 153, 0.5);
    text-align: center;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}

div.social-buttons-header {
    margin-right: 5rem;
    font-size: 20px;
    margin-top: 4px;
}

div.social-buttons-header a {
    color: #26232d;
}

div.social-buttons-header a:first-of-type {
    margin-right: 10px;
}

div.social-buttons-header a:nth-of-type(2) {
    margin-right: 10px;
}

section.applications {
    background-image: url('../../images/main/main_fish.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    box-shadow: 0 5px 5px grey, 0 -5px 5px grey;
    z-index: 200
}

input.product_quantity {
    height: 30px;
    width: 30px;
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 0 0px;
    margin-bottom: 0px;
    outline: 0;
}

input#cart-wrap-input{
    text-align: center;
    height: 20px;
    width: 40px;
    border: 1px solid gray;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 0 0;
    margin-bottom: 0;
    outline: 0;
    position: absolute;
    right: 37px;
    top: 40px
}

form.cart_product{
    margin-top: -1%;
}

button.plus{
    height: 30px;
    width: 100px;
    margin-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.minus{
    height: 30px;
    width: 30px;
    margin-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input_label{
    font-weight: 500;
    font-size: 20px;
    color: #9e9eab;
    position: absolute;
    right: 0;
    top: 36px;
'
}

.btn-main{
    color: #fff;
    background: #26232d;
}

.btn-main:hover{
    color: #26232d;
    background: #d7c800;
}

.btn-black{
    color: #26232d !important;
    background: #d7c800;
}

.btn-black:hover{
    color: #fff !important;
    background: #26232d;
}

#product-inner{
    width: 50%;
}

#product-item{
    width: 90%;
    height: 10%
}

@media (min-width: 200px) and (max-width: 991px){
    #product-inner{
        width: 100%;
    }
    #product-item{
        width: 100%;
        height: 10%
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #logo_img{
        width: 58px;
        margin-top: 58px;
    }
}

